@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

#header-img {
    height: 50px;
    width: 50px;
    margin-left: 2em;
    margin-right: 2em;
}

.point-img {
    height: 75px;
    width: 75px;
}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    margin: 0 0 0 0;
    padding-top: 1em;
    padding-bottom: 1em;
    top: 0;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav-link {
    padding-left: 2rem;
    padding-right: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7em;
    justify-content: center;
    align-content: center;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
}

#why-snails {
    margin-left: auto;
    margin-right: auto;
}

#form {
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
}